body
{
	height: 100vh;
	width: 100%;
	background-image: url(https://wallpapercave.com/wp/wp1836700.jpg);
	background-position: center;
	background-size: cover;
	padding: , 5%;
	box-sizing: border-box;
	position: relative;

	/*this makes everything inside the body centered*/
	display: flex;
	justify-content: center;
	align-items: center;

  text-align: center;
  line-height: 1.6;
  scroll-behavior: smooth;
  margin: auto;
}


h1{
	font-size: 60px;
	margin-top: 24px;
	margin-bottom: 15px;
	color: #f6f5f5;
  font-family: sans-serif;
    letter-spacing: 0.06em;
    margin: 0;

}

nav{
    font-family: Courier, monospace;
    display: block;
    margin-top: 0.5em;
}


nav a{
  color: #f6f5f5;
  transition: color 0.5s;
  text-decoration: none;
}
nav a:hover {
  color: #dec2b6;
}


#contact{
  color: #f6f5f5;
  font-size: 0.7em;
  opacity: 0.9;
}

footer{
	color: #f6f5f5;
    font-size: 0.6em;
    opacity: 0.6;
}

