body
{
  height: 100vh;
  width: 100%;
  background-color: #222222;

  box-sizing: border-box;
  position: relative;
  color: #cacecf;
  font-family: Verdana, Arial, Helvetica, sans-serif;

  text-align: left;
  margin-left: 50px;
  width: 80%

  line-height: 1.6;
  scroll-behavior: smooth;
}

div{
  display: block;
}

hr{
  margin-right: 50px;
}

h1{
  color: #f6f5f5;
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  font-family: "Libre Baskerville", Baskerville, Lora, serif;
}

h2{
  color: #eeeded;
  font-weight: 530;
  font-family: "Libre Baskerville", Baskerville, Lora, serif;
}

nav{
    display: block;
      font-family: Courier, monospace;
}

a{
  margin-top: 0.5em;
  color: #f6f5f5;
  transition: color 0.5s;
  text-decoration: none;
}
a:hover {
  color: #70c2ff;
}

main{
  position: relative;
  padding-bottom: 50px;
}

footer{
  font-size: 0.8em;
  opacity: 0.6;
  text-align: center;
  width: 100%
}

.highlight{
  color: #90c2ff
}


.gohome{
    font-family: Courier, monospace;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 50px;
}


/*homepage styling*/
#home-title{
  color: #f6f5f5;
  font-size: 60px;
  margin-top: 24px;
  margin-bottom: 20px;
  letter-spacing: 0.08em;
}
#home-body
{
  /*this makes everything inside the body 
  centered vertically and horizontally*/
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  margin: auto;
}

/*
the following code allows
a QR code to show up when
hover over wechat's icon
*/
#wechatBox{
  position: relative;
}
#QRcode{
  position: absolute;  
  display: none;
}
#wechatBox:hover #QRcode{
  display: block;
}


#home-footer{
  position: absolute;
  bottom: 0;
}



/*for the about page*/
#about-body{
  text-align: left;
  margin-left: 50px;
  width: 80%
}

#about-main{
  padding: 10px;
}

#about-intro{
  font-family: "Libre Baskerville", Baskerville, Lora, serif;
  font-size: 1.2em;
  width: 80%;
  line-height: 1.6;
}

.about-collapsible{
  background-color: #222222;
  font-family: "Libre Baskerville", Baskerville, Lora, serif;
  cursor: pointer;
  padding-left: 28px;
  margin: 20px 0;
  width: 35%;
  border: none;
  text-align: left;
  outline: none;
  display: inline-block;
}
.menu-icon{
  float: left;
  margin: 0;
  padding-top: 3px;
  padding-right: 8px;
} 
.row{
  margin: 0;
}

.about-content {
  padding: 0 20px;
  margin-left: 30px;
  width: 80%;
  line-height: 2;
  border: 1px solid white;
  display: none;
  overflow: hidden;
  background-color: #222222;
}

div p, li{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

#project, #drawing{
  font-family: Courier, monospace;
  font-weight: 700;
  text-decoration:underline;
}



/*for the gallery page*/
td img{
  margin-left: 50px;
}

#photo_frame{
  margin-left: 0px;
}

.button{
  background: linear-gradient(45deg, #87adfe, #ff77cd);
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  margin-bottom: 20px;

  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
.button:hover {
  cursor: grab;
  background: linear-gradient(45deg, #6d93e3, #de5bae);
}

.button-cool{
  background: linear-gradient(45deg, #f96778, #edc080);
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  margin-bottom: 20px;

  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
.button-cool:hover {
  cursor: grab;
  background: linear-gradient(45deg, #de5968, #d9ae71);
}


.slider{
  -webkit-appearance: none;
  background: #e6e5e5;
  height: 3px;
  width: 110px;
}


#swatch{
  margin-left: 10px;
  border: none;
  border-radius: 50%;
  width: 20px;
  height:20px;
}

canvas{
  margin-top: 30px;
  background-color: white;
}

#guest-name, #comment-box{
  width: 500px;
  height: 25px;
  margin-bottom: 20px;
  
  font-size: 15px;
  background-color: #e6e5E5;
}
#comment-box{width: 503px;}
#comment-button{
  margin-left: 520px;
}

#labels{
  height: 60px;
  width: 100px;
  float: left;
}
#inputs{
  height: 70px;
  width: 500px;
  float: left;
  
}


/*for the posts page*/
.posts-main{
  float: left;
  width: 65%;
  margin-left: 50px;
}
.posts-main p{
  line-height: 1.8;
}

aside{
  float: right;
  width: 20%;
  font-size: 0.75em;
  padding-right: 5px;
}

aside ul{
  padding-left: 1.5em;
}

.posts-footer{
  display: inline-block;
  width: 100%; 

}
