body{
  font-family: sans-serif;
  color: #8e8d88;
  background-color: #000000;
  
  text-align: center;
  margin: 100px;
  line-height: 1.2;
  scroll-behavior: smooth;
}



h1{
    letter-spacing: 0.06em;
    font-size: 3em;
    margin: 5px;
    display: inline-block;
}

nav{
    line-height: 0.7;
    font-size: 1.5em;
    display: block;
    margin: 5px;
}
#contact{
  font-size: 0.7em;
  opacity: 0.9;
  margin: 5px;
}


footer {
  font-size: 0.6em;
  opacity: 0.6;
  
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

hr{
  opacity: 0.5;
}


.hover{
  transition: color 0.5s;
}
.hover:hover {
  color: #dec2b6;
}


